
<style>
    .jumbotron{float:left;display: inline-block;width: 100%;padding: 0;}
    .jumbotron>div{float:left;margin: 10px 0;padding: 0 15px;}
    .sign{display: inline-block;float: left;margin-bottom: 15px;}
</style>