html,
body {
    height: 100%;
}
th,td{padding: 5px;text-align: center;height: 50px}
.msg{margin-bottom: 10px;}
td > a{display: inline-block;height: 25px;line-height: 29px;border: 1px solid #000;border-radius: 4px;}
td > a:hover{background-color: #e8e8e8;border: #e8e8e8;}
.liner{display: inline-block;width: 100%;height: 10px;border-bottom: 1px solid #000;}
.container div.discribe{display: inline-block;}
.container div.discribe > div{height:25px;line-height:40px;}